nvim/.config/nvim/plugin/packer_compiled.lua
nvim/.config/nvim/spell/*.*
zsh/.config/zsh/.zshrc
zsh/.config/zsh/.zhistory
zsh/.config/zsh/.zcompdump
mpv/.config/mpv/shaders
tmux2/.config/tmux/plugins
